
.faq-border-logo {
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(
                  135deg, #ff9100 0%, #e52836 100%) 1 !important;
  max-width: 184px !important;
  max-height: 200px !important;
}

.faq-icon {
  background-color: #f2f2f2;
  padding: 20px;
  min-width: 80px;
  min-height: 80px;
  margin-right: 5px;
  border-radius: 5px;
}

.faq-icon-row {
    float: right;
  }

.faq-accordeon {
  p {
    border-color: #f0f0f0 !important;
  }

  .toggle_content {
    p {
      font-size: 18px !important;
    }
}

.vert_icon, .hor_icon {
    border-image: linear-gradient(135deg, #ff9100 0%, #e52836 100%) 1 !important;
  }
}
.faq-uppie {
  transition: transform 0.7s ease-in-out !important;
}
.faq-uppie:hover {
  transform: rotate(45deg) !important;
}


.login-logo {
  position: absolute !important;
  margin-top: -65px !important;
}

.login-veld {
  position: relative !important;
  z-index: -1 !important;
  padding-bottom: 50px !important;
  .avia-button {
    background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
  }
}

.active {
  .whcom_smooth_scroll {
      background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
    .wcop_sp_nav_text {
      color: white;
    }
  }
}
.whcom_smooth_scroll {
  .wcop_sp_nav_text {
      color: #ffffff;
  }
}

.whcom_smooth_scroll:hover {
  background-color: #484848;
}

.whcom_nav_container {
  ul {
    background-color: #1c1c1c !important;

  }
}

.wcop_sp_section_heading {
  i {
    background: -moz-linear-gradient(135deg, #ff9100 0%, #e52836 100%);
    background: -webkit-linear-gradient(135deg, #ff9100 0%, #e52836 100%);
    background: linear-gradient(135deg, #ff9100 0%, #e52836 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.whcom_tabs_container.whcom_tabs_fancy_2 ul.whcom_tab_links {
  li.active {
    padding: 12px 18px;
    background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
    color: white !important;
  }
}

.whcom_form_field   {
    padding: 3px 3px !important;
  }

.whcom_alert.whcom_alert_with_icon:before {
  border-image: linear-gradient(135deg, #ff9100 0%, #e52836 100%) 1 !important;

}

.kj-home-search {
  form {
    margin-top: -105px;
  }
}

.whmpress_domain_search_ajax form {
  border-radius: 10px;
  background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
  padding: 25px;
  align-items: center;
  justify-content: center;
  min-width: 1200px;

  input {
    border-radius: 10px !important;
    margin: 5px !important;
  }

  input::placeholder {
    color: #8d8d8d;
  }

  button {
    background-color: #1c1c1c;
    border-radius: 10px;
    font-size: 18px !important;
  }

  button:hover {
    background-color: #444444;
  }

  .search-box {
    background-color: #fff;
  }
}

.flex_column.av-kx8s2tzg-981fd2229789293d6e730d0ee4da178b {
  margin-top: -30px;
  p {
    margin-top: 10px;
  }
}

.whcom_panel_header {
  background-color: #1c1c1c !important;
  color: #ffffff;
}

.whcom_op_product_box.whcom_panel {
  border-color: #1c1c1c;
  border-width: 5px;

  span {
    text-transform: uppercase;
  }
  .whcom_button.whcom_button_success {
    background-color: #1c1c1c;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.whcom_button.whcom_button_success:hover {
  background-color: #444444 !important;
}


.whcom_panel .whcom_panel_footer {
  border: none;
  padding: 20px;
}


//.whcom_col_sm_3, .whcom_page_heading{
//    display: none;
//  }

.whcom_row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.whcom_icon_basket {
    display: none;
}

.whcom_op_product_description {
  text-align: center;
}

.whcom_form_field_addon {
  margin-left: -70px;
}

.whmp_domain_search_ajax_results {
  .whmp_search_ajax_title.whmp_not_found_title {
    background-color: #F2F2F2;
    color: #1c1c1c;
    border-top: none;
    display: flex;
    max-width: 100%;
    justify-content: space-between;

    .whmp_search_ajax_domain {
      font-size: 20px;
    }

    .whmp_search_ajax_buttons {
      a {
        background-color: #c8c8c8;
        color: #fff;
        border: none;
      }
    }
    .whmp_search_ajax_message {
      color: red;
    }
  }
}

.whmp_domain_search_ajax_results {
  padding-top: 30px;
  h3 {
    text-align: center;
  }
  .whmp_search_ajax_title.whmp_found_title  {
    background-color: #F2F2F2;
    color: #1c1c1c;
    border-top: none;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    .whmp_search_ajax_domain {
      font-size: 20px;
    }
    .whmp_search_ajax_buttons {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      width: 500px;

      a {
        background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
        border: none;
      }
      .whmp_title_price {
        .whmp_domain_price, .whmp_duration {
          display: flex;
        }

      }
    }
  }
}

.whmp_search_ajax_result.whmp_found_result  {
  background-color: #F2F2F2;
  color: #1c1c1c;
  border-left: none;
  strong {
    color: #1c1c1c;
  }
  li.whmp_domain{
      color: limegreen;
  }
  .whmp_search_ajax_buttons {
    a{
      background-color: #1c1c1c;
      border: none;
    }

  }
}

.whmp_search_ajax_title.whmp_found_title {
  .whmp_search_ajax_message {
    color: limegreen;
  }
}

.whmp_domain_search_ajax_results {
  .load-more-div {
    button {
      background: none;
      color: #1c1c1c;
      border: none;
      text-decoration: underline;
      font-size: 20px;
    }
    button:hover {
      background: none;
    }
  }
}

.whmp_search_ajax_result.whmp_not_found_result {
  border-left: none;
  background-color: #F2F2F2;
  strong {
    color: #1c1c1c;
  }
  li.whmp_domain{
    color: red;
  }
  .whmp_search_ajax_buttons {
    a {
      background-color: #C8C8C8;
      border: none;
    }
  }
}

.whcom_tabs_container {
  .whcom_tabs_fancy_2 {
    .whcom_tab_links {

        display: flex;
        max-width: 100%;
        margin: auto !important;

        li {
          border: #1c1c1c !important;
          background-color: #F2F2F2 !important;
           .whcom_tab_link.active::before {
             background-color: #F2F2F2 !important;
        }

         }
    }
  }
}

.wcop-wight-li {
  ul {
    li.active {
      color: #1c1c1c !important;
      font-weight: bold;
    }

    li.current:after {
      background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
      border: none !important;
    }

    li.active:after {
      color: #fff !important;
      font-size: 20px !important;
      background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
      border: none !important;

    }

    li.active:before {
      border-color: #1c1c1c !important;
    }
  }
}
.whcom_form_field {
.whcom_button.whcom_button_block {
  color: #fff !important;
}
}

.wcop_sp_button {
  .skip.whcom_button_secondary, .prev.whcom_button_secondary {
   background: none !important;
    color: #1c1c1c !important;
  }
  .next {
    color: #fff !important;
    background-color: #1c1c1c !important;
  }
}

.wcop_sp_section_heading {
  color: #1c1c1c;


    #edit_domain {
      border: none !important;
    }
  }

.wcop_sp_section_content {
  box-shadow: none !important;
}

.wcop_sp_attach_product_domain.whcom_text_center_xs {
  strong{
    color: #ffffff !important;
  }
  .whcom_button.whcom_button_success {
    background-color: #1c1c1c !important;
  }
}

.whcom_row.whcom_sleek_products {
  .whcom_product_content {
    strong {
      color: #1c1c1c !important;
    }
  }
}


.whcom_label_product {
  border-color: #8d8d8d;
  .footer_product {
    background-color: #1c1c1c !important;
    color: #fff !important;
    .whcom_margin_bottom_15 {
      font-size: 20px;
    }
  }
}

.#wcop_sp_main.whcom_main.wcop_sp_03_bold {
  .wcop_sp_order_summary {
    .summary-simple-4 {
      background-color: #F2F2F2 !important;
    }
  }
}

.form_element {
 input {
    background: linear-gradient(135deg, #ff9100 0%, #e52836 100%);
    border:none;
   border-radius: 10px !important;
  }
}

.whcom_op_products.whcom_main {
  margin-top: 50px;
  .whcom_tabs_container.whcom_tabs_vertical {
    .whcom_row {
      .whcom_col_sm_3 {
        display: none;
      }

      .whcom_col_sm_9 {
        .whcom_tabs_content.whcom_padding_0_10.active {
          .whcom_page_heading {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  h2, h3 {
    text-align: center;
  }
  .header-text {
    margin-top: 15px;

    h1 {
      font-size: 40px !important;
      line-height: 1.3em !important;
    }
  }
  .kj-home-search {
    .whmpress.whmpress_domain_search_ajax {
      form {
        min-width: 300px;

        input {
          border: none !important;
          margin-left: 0 !important;
        }

        input::placeholder {
          font-size: 13px;

        }
      }
    }
  }
  .flex_column.av-kx8s2tzg-981fd2229789293d6e730d0ee4da178b {
    margin-top: -55px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .avia_textblock {
      span {
        font-size: 13px;
        margin: 0;
      }
    }

  }
  .av-3wd2-7adac38630c56bcba0d80e59b58e27c0 {
    .container.av-section-cont-open {
      .template-page.content {
        padding: 0;
      }
    }
  }
  .whcom_op_products.whcom_main {
    .whcom_tabs_container.whcom_tabs_vertical {
      .whcom_row {
        display: block;
        padding: 0 10px 0 10px;

        .whcom_col_lg_4:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }

  .gradient-border {
    max-width: 200px;
  }
  .av_textblock_section {
    .avia_textblock {
      h3, p {
        text-align: center !important;
      }
    }
  }
  .voordelen-uppie {
    max-width: 65%;
    margin: auto;
  }

  .wcop_sp_03_bold {
    .whcom_row.simple-row4 {
      display: block;
    }
  }
  .avia-section.av-15ca6-ce910ec24cc22f14d15d4c6c1895dac6, .avia-section.av-kwf0hnhp-9cf3743e272ec9bd6ee618fbb8483b2c,
  .avia-section.av-2050o5-87d6e830b51d40b664f45aa834ca6b07 {
    background-position: 75% !important;
  }
  .faq-vragen {
    .container.av-section-cont-open {
      .template-page.content {
        padding: 0;
      }
    }
  }
  .button-terug {
    margin-top: -10px;
    a {
      background: linear-gradient(135deg, #ff9100 0%, #e52836 100%) !important;
    }
  }
}





