.kj-gradient {
    background: linear-gradient( 135deg, #ff9100 0%, #e52836 100%);
    padding: 50px 10px 50px 10px;
    max-width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Arial;
    font-size: 30px;
    color: #Fff;
}

.kj-search {
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: Arial;
    font-size: 30px;
}

textarea:focus, input:focus, input:hover{
    outline: none;
    background-color: #fff;
} {
    border: none;
}

.kj-class {
    display: flex;
    justify-content: center;
    margin: auto;
}

.kj-button {
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 5px;
    border: none !important;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    margin-left: 5px;
}

.kj-button:hover {
    background-color: #000000;
    cursor: pointer;
}

.kj-output {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    font-family: Arial;
    font-size: 20px;

}
#kj-output {
    text-align: center;
    margin: 10px;
    padding: 20px;
}


.kj-domain {
    background-color: #d0d0d0;
    max-width: 50%;
    display: flex !important;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    font-size: 20px;
    font-family: Arial;
    display: revert;
}


