h1 {
    font-family: Arial;
    font-size: 20px;
    margin: 0;
}
p {
    font-family: Arial;
    font-size: 15px;
    text-align: center;

}

.product-container {
    border: #333 5px solid;
    border-radius: 10px;
    margin-top: 100px;
    margin: 10px;

}

.product-container .product-feature-list {
    display: flex;
    flex-direction: column;

}

.product-container .product-feature-list .product-feature-container {
    height: 62px;
    background-color: white;
    padding: 10px;
}

.product-container .product-feature-list .product-feature-container {
    height: 62px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.product-container .product-alt-background {
    background-color: #F2F2F2 !important;
}

.product-header {
    background-color: #333333;
    padding: 10px;
}

.product-header h1, .order-button h1 {
    color: white;
    text-align: center;
}

.product-horizontal-flex {
    border-left: 3px solid #333333;
}

.order-button {
    background-color: #333333;
    padding: 5px;
    border-radius: 5px;
    margin: 35px;
}

.order-price {
    background-color: #f2f2f2;
}

.product-container:nth-child(2) {
    border: #ff9100 5px solid;
    margin-top: -10px;
    margin-bottom: 30px;
}

.product-container:nth-child(2) .product-header {
    background-color: #ff9100;
}
.product-container:nth-child(2) .order-button {
    background: linear-gradient(
            135deg, #ff9100 0%, #e52836 100%);
}

.product-text-container {
    margin-left: 10px;
}
.product-container:nth-child(2) .product-horizontal-flex {
    border-left: 3px solid #ff9100;
}

.product-container:nth-child(2) .product-alt-background  {
    background-color: #ffeed9 !important;
}
.product-container:nth-child(2) .order-price {
    background-color: #ffeed9 !important;
}


.all {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 5px;
    font-family: arial;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#more {display: none;}

.load-more {
    background: none;
    border: 0;
    text-decoration: underline;

}
.more-info {
    text-align: center;
    font-family: Arial;
    margin-left: 200px;
    margin-right: 200px;
}